In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
titanic = pd.read_csv("/content/titanic.csv")
tit = titanic.copy()

# AGE
man = tit[(tit['Sex']=='male') & (tit['Survived']==1)]
man_no = tit[(tit['Sex']=='male') & (tit['Survived']==0)]
woman= tit[(tit['Sex']=='female')&(tit['Survived']==1)]
woman_no= tit[(tit['Sex']=='female')&(tit['Survived']==0)]

tit.loc[(tit['Sex']=='male')& (tit['Survived']==1) & (tit['Age'].isna()), 'Age']=man['Age'].mean()
tit.loc[(tit['Sex']=='male') & (tit['Survived']==0)&(tit['Age'].isna()), 'Age'] = man_no['Age'].mean()
tit.loc[(tit['Sex']=='female')&(tit['Survived']==1)&(tit['Age'].isna()), 'Age']=woman['Age'].mean()
tit.loc[(tit['Sex']=='female')&(tit['Survived']==0)&(tit['Age'].isna()), 'Age']=woman_no['Age'].mean()

# Fare
q1 = tit['Fare'].quantile(0.25)
q3 = tit['Fare'].quantile(0.75)
tit.loc[tit['Fare']==0.000000, 'Fare'] = q1
iqr = q3 - q1
low = q1 - iqr * 1.5
high = q3 + iqr * 1.5
tit['Fare'].clip(lower= low, upper= high, inplace=True)
tit['Fare'].describe()

# Cabin
cab_one = tit[(tit['Fare']<=q1)]
cab_two = tit[(tit['Fare']<tit['Fare'].median())&(tit['Fare']>q1)]
cab_three = tit[(tit['Fare']>tit['Fare'].median())&(tit['Fare']<q3)]
cab_four = tit[(tit['Fare']>q3)]

tit.loc[(tit['Fare']<= q1)&(tit['Cabin'].isna()),'Cabin'] = cab_one['Cabin'].mode()[0]
tit.loc[(tit['Fare'] > q1)&(tit['Cabin'].isna()),'Cabin'] = cab_two['Cabin'].mode()[0]
tit.loc[(tit['Fare'] > tit['Fare'].median())&(tit['Cabin'].isna()),'Cabin'] = cab_three['Cabin'].mode()[0]
tit.loc[(tit['Fare'] > q3)&(tit['Cabin'].isna()),'Cabin'] = cab_four['Cabin'].mode()[0]

#Embarked
tit['Embarked'].fillna(tit['Embarked'].mode()[0], inplace=True)

<ipython-input-8-a63b93ab7514>:25: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tit['Fare'].clip(lower= low, upper= high, inplace=True)
<ipython-input-8-a63b93ab7514>:40: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  tit['Embarked'].fillna(tit['Embarked'].mode()[0], inplace=True)

4.0125